.error-box {
    position: fixed;
    bottom: 0;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    row-gap: 0.25rem;
    background: rgb(138, 0, 0);
    color: white;
    width: 40%;
    padding-bottom: 1rem;
    text-align: center;
}

.close-error-box {
    align-self: flex-end;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
}

@media screen and (max-width: 800px) {
    .error-box {
        width: min(100%, 400px);
    }
}