.product-link {
    color: black;
    text-decoration: none;
}

.product-card-container {
    display: flex;
    flex-flow: column;
    cursor: pointer;
}

.product-image {
    min-width: max(15vw, 200px);
    min-height: max(15vw, 200px);
    max-width: min(15vw, 200px);
    max-height: min(15vw, 200px);
}

.new-banner {
    background: hsl(26, 100%, 55%);
    color: black;
    font-weight: 600;
    width: min-content;
    padding: 0.125rem 0.25rem;
    margin-bottom: 0.5rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.product-name {
    font-size: 1.25rem;
}

.product-price {
    font-size: 1.25rem;
    font-weight: 600;
}